<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>
    <header>
        <div id="logotipo">
            <img src="{% static 'images/loguito.png' %}" width="400" height="80" />
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="{% url 'inicio' %}"><h2>Países</h2></a>
            </li>
            <li>
                <a href="{% url 'registrar_pais' %}"><h2>Registrar País</h2></a>
            </li>
            <li>
                <a href="{% url 'editorial' %}"><h2>Editoriales</h2></a>
            </li>
            <li>
                <a href="{% url 'crear_editorial' %}"><h2>Crear Editorial</h2></a>
            </li>
        </ul>
    </nav>
    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>
    </div>
    <div id="content">
        <div class="box">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <footer>
        UNTELS - Lenguaje de Programación III &copy; Guillen - Montes - Timana {% now "d/m/Y h:m:s" %}
    </footer>
</body>
</html>