

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/esti.css' %}" />
</head>

<body>
    <header>
        <div id="logotipo">
            <img src="{% static 'images/loguito.png' %}" width="400" height="80" />
        </div>
    </header>
    <nav>
        <ul >
            <li >
                <a  href="{% url 'cursos' %}"><h2>Listado Paises</h2></a>
            </li>
            <li>
                <a href="{% url 'crear_curso' %}"><h2>Registrar Pais</h2></a>
            </li>
            <li>
                <a href="{% url 'carreras' %}"><h2>Editorial</h2></a>
            </li>
            <li>
                <a href="{% url 'crear_carrera' %}"><h2>Crear Editorial</h2></a>
            </li>
            <li>
                <a href="{% url 'integrantes' %}"><h2>Integrantes</h2></a>
            </li>
        </ul>
    </nav>
    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>
    </div>
    <div id="content">
        <div class="box">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <footer>
        UNTELS - Lenguaje de Programación III &copy; Guillen Ayala - Timana Espinoza - Montes Palacios {% now "d/m/Y h:m:s" %}
    </footer>
</body>
</html>
